
h1{color: blue;}
   *{border: solid;}
.header{
    background-color: tomato;
    display:flex;
    justify-content:space-evenly;
}

.menu{
    background-color: yellow;
    display: flex;
    justify-content:space-around;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.description{
   background-color: blueviolet; 
   display: flex;
   justify-content: space-evenly;
}

